# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Paying for access to the index provider's API is outside of the scope of this course. 

There's a static version of the S&P 500 constituents available here. [Click this link to download them now](https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view?usp=sharing). Move this file into the `starter-files` folder so it can be accessed by other files in that directory.

Now it's time to import these stocks to our Jupyter Notebook file.

In [2]:
stocks = pd.read_csv("sp_500_stocks.csv")   # reads data and stores in csv and stores in panda dataframe
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

## Acquiring an API Token

Now it's time to import our IEX Cloud API token. This is the data provider that we will be using throughout this course.

API tokens (and other sensitive information) should be stored in a `secrets.py` file that doesn't get pushed to your local Git repository. We'll be using a sandbox API token in this course, which means that the data we'll use is randomly-generated and (more importantly) has no cost associated with it.

[Click here](http://nickmccullum.com/algorithmic-trading-python/secrets.py) to download your `secrets.py` file. Move the file into the same directory as this Jupyter Notebook before proceeding.

In [3]:
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call

Now it's time to structure our API calls to IEX cloud. 

We need the following information from the API:

* Market capitalization for each stock
* Price of each stock

In [4]:
symbol = 'AAPL'  #company
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'  # iex endpoint
data = requests.get(api_url).json()  # http get request and convert it into json format
# print(data.status_code)       # get the status code to see if we successfully get back data
print(data)

{'symbol': 'AAPL', 'companyName': 'Apple Inc', 'primaryExchange': 'AQO) LASLRAEBGNDEMGK EN(AT/ STCSL', 'calculationPrice': 'tops', 'open': None, 'openTime': None, 'openSource': 'ffcioial', 'close': None, 'closeTime': None, 'closeSource': 'faolcfii', 'high': None, 'highTime': None, 'highSource': None, 'low': None, 'lowTime': None, 'lowSource': None, 'latestPrice': 132.07, 'latestSource': 'IEX real time price', 'latestTime': '12:44:52 PM', 'latestUpdate': 1683627287466, 'latestVolume': None, 'iexRealtimePrice': 133.92, 'iexRealtimeSize': 101, 'iexLastUpdated': 1641363304486, 'delayedPrice': None, 'delayedPriceTime': None, 'oddLotDelayedPrice': None, 'oddLotDelayedPriceTime': None, 'extendedPrice': None, 'extendedChange': None, 'extendedChangePercent': None, 'extendedPriceTime': None, 'previousClose': 132.88, 'previousVolume': 158381347, 'change': -0.25, 'changePercent': -0.00189, 'volume': None, 'iexMarketPercent': 0.018842661838787755, 'iexVolume': 903589, 'avgTotalVolume': 95552000, 'iexBidPrice': 131.03, 'iexBidSize': 410, 'iexAskPrice': 129.96, 'iexAskSize': 304, 'iexOpen': 130.43, 'iexOpenTime': 1635799651242, 'iexClose': 133.83, 'iexCloseTime': 1657992222607, 'marketCap': 2197082423206, 'peRatio': 39.85, 'week52High': 138.83, 'week52Low': 56.62, 'ytdChange': 0.786254240708465, 'lastTradeTime': 1628499381739, 'isUSMarketOpen': True}

## Parsing Our API Call

The API call that we executed in the last code block contains all of the information required to build our equal-weight S&P 500 strategy. 

With that said, the data isn't in a proper format yet. We need to parse it first.

In [5]:
price = data['latestPrice']
# print(price)
market_cap = data['marketCap']
# print(market_cap/1000000000000)

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

In [6]:
my_columns = ['Ticker', 'Stock Price','Market Capitalization', 'Number of Shares to Buy']
final_dataframe = pd.DataFrame([[0,0,0,0]],columns = my_columns)
final_dataframe

   Ticker  Stock Price  Market Capitalization  Number of Shares to Buy
0       0            0                      0                        0

In [7]:
final_dataframe = final_dataframe.append(
    pd.Series(['AAPL', 
               data['latestPrice'], 
               data['marketCap'], 
               'N/A'], 
              index = my_columns), 
    ignore_index = True)
final_dataframe

  Ticker  Stock Price  Market Capitalization Number of Shares to Buy
0      0         0.00                      0                       0
1   AAPL       132.07          2197082423206                     N/A

## Looping Through The Tickers in Our List of Stocks

Using the same logic that we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

In [8]:
# final_dataframe = pd.DataFrame(columns = my_columns)
# for symbol in stocks['Ticker']:
#     api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
#     data = requests.get(api_url).json()
#     final_dataframe = final_dataframe.append(
#                                         pd.Series([symbol, 
#                                                    data['latestPrice'], 
#                                                    data['marketCap'], 
#                                                    'N/A'], 
#                                                   index = my_columns), 
#                                         ignore_index = True)

In [9]:
final_dataframe

  Ticker  Stock Price  Market Capitalization Number of Shares to Buy
0      0         0.00                      0                       0
1   AAPL       132.07          2197082423206                     N/A

## Using Batch API Calls to Improve Performance

Batch API calls are one of the easiest ways to improve the performance of your code.

This is because HTTP requests are typically one of the slowest components of a script.

Also, API providers will often give you discounted rates for using batch API calls since they are easier for the API provider to respond to.

IEX Cloud limits their batch API calls to 100 tickers per request. Still, this reduces the number of API calls we'll make in this section from 500 to 5 - huge improvement! In this section, we'll split our list of stocks into groups of 100 and then make a batch API call for each group.

In [10]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [11]:
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for symbol_group in symbol_groups:
    symbol_strings.append(','.join(symbol_group))
#     print(symbol_strings[i])

final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'], 
                                                   data[symbol]['quote']['marketCap'], 
                                                   'N/A'], 
                                                  index = my_columns), 
                                        ignore_index = True)
        
    
final_dataframe

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A      118.610           36066446395                     N/A
1      AAL       17.228           10343829366                     N/A
2      AAP      165.530           11243098152                     N/A
3     AAPL      128.007         2231071816077                     N/A
4     ABBV      105.300          182695220075                     N/A
..     ...          ...                   ...                     ...
500    YUM      109.840           32562319627                     N/A
501    ZBH      155.390           31609599743                     N/A
502   ZBRA      378.441           20197040129                     N/A
503   ZION       42.000            6845455727                     N/A
504    ZTS      162.620           80802615847                     N/A

[505 rows x 4 columns]

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [12]:
portfolio_size = input("Enter the value of your portfolio:")

try:
    val = float(portfolio_size)
except ValueError:
    print("That's not a number! \n Try again:")
    portfolio_size = input("Enter the value of your portfolio:")
    val = float(portfolio_size)

Enter the value of your portfolio:1000000

In [13]:
position_size = val / len(final_dataframe.index)
for i in range(0, len(final_dataframe.index)):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_dataframe['Stock Price'][i])
final_dataframe
#loc is used to get data from a particular column and row index

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A      118.610           36066446395                      16
1      AAL       17.228           10343829366                     114
2      AAP      165.530           11243098152                      11
3     AAPL      128.007         2231071816077                      15
4     ABBV      105.300          182695220075                      18
..     ...          ...                   ...                     ...
500    YUM      109.840           32562319627                      18
501    ZBH      155.390           31609599743                      12
502   ZBRA      378.441           20197040129                       5
503   ZION       42.000            6845455727                      47
504    ZTS      162.620           80802615847                      12

[505 rows x 4 columns]

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

### Initializing our XlsxWriter Object

In [42]:
# writer object is created using panda excelwriter class as exl and panda are coupled tightly
# 1st parameter is the name of file that we want our dataframe to be saved in, 2nd states that we want xlsx file
writer = pd.ExcelWriter('recommended_trades.xlsx', engine='xlsxwriter')

# here we are storing the final_dataframe to writer and the tab name is 2nd para
final_dataframe.to_excel(writer, sheet_name='Recommended Trades', index = False)

### Creating the Formats We'll Need For Our `.xlsx` File

Formats include colors, fonts, and also symbols like `%` and `$`. We'll need four main formats for our Excel document:
* String format for tickers
* \\$XX.XX format for stock prices
* \\$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

In [43]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_format = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_format = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_format = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

### Applying the Formats to the Columns of Our `.xlsx` File

We can use the `set_column` method applied to the `writer.sheets['Recommended Trades']` object to apply formats to specific columns of our spreadsheets.

Here's an example:

```python
writer.sheets['Recommended Trades'].set_column('B:B', #This tells the method to apply the format to column B
                     18, #This tells the method to apply a column width of 18 pixels
                     string_template #This applies the format 'string_template' to the column
                    )
```

In [44]:
# writer.sheets['Recommended Trades'].set_column('A:A', #This tells the method to apply the format to column B
#                      18, #This tells the method to apply a column width of 18 pixels
#                      string_format #This applies the format 'string_format' to the column
#                     )
# writer.sheets['Recommended Trades'].set_column('B:B', 18, string_format)
# writer.sheets['Recommended Trades'].set_column('C:C', 18, string_format)
# writer.sheets['Recommended Trades'].set_column('D:D', 18, string_format)

# writer.save()

# formatting column names

writer.sheets['Recommended Trades'].write('A1', 'Ticker', string_format)
writer.sheets['Recommended Trades'].write('B1', 'Stock Price', dollar_format)
writer.sheets['Recommended Trades'].write('C1', 'Market Capitalization', dollar_format)
writer.sheets['Recommended Trades'].write('D1', 'Number of Shares to Buy', integer_format)

0

This code works, but it violates the software principle of "Don't Repeat Yourself". 

Let's simplify this by putting it in 2 loops:

In [46]:
# instead of writing writer for each column, we store column and it's format in a dictionary
# and then iterate through the keys of dictionary while applying formats
column_formats = {
    'A': ['Ticker', string_format],
    'B': ['Stock Price', dollar_format],
    'C': ['Market Capitalization', dollar_format],
    'D': ['Number of Shares to Buy', integer_format]
}

for column in column_formats.keys():
    writer.sheets['Recommended Trades'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Recommended Trades'].write(f'{column}1',column_formats[column][0],  column_formats[column][1])

## Saving Our Excel Output

Saving our Excel file is very easy:

In [47]:
writer.save()